<div class="cotainer-form">
  <h1>Booking form</h1>

  <%= simple_form_for [ @bag, @booking ] do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <%= f.submit "Submit Booking", class: "btn btn-primary" %>
  <% end %>
</div>
