<h1>Dashboard</h1>

<div class="user-info">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.address %>
</div>

<div class="bags-list">
  <div class="bags-rent">

  </div>
  <div class="bags-borrow">

  </div>
</div>

<div class="requests">

</div>
