<h1>Users#show</h1>
<p>List of rented bags:</p>

<div class="user-info">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.address %>
</div>
<div class="bags-list">
  <div class="bags-rent">
    <%= @borrowed_bag.name %>
  </div>
  <div class="bags-borrow">
    
  </div>
</div>
<div class="requests">
</div>