<div class="index-container">
  <h1>Purshare</h1>
  <br>
  <p>Place to rent a bag.</p>
</div>

<div class="cards">
  <% @bags.each do |bag|%>
    <a href="bags/<%=bag.id %>">
    <% if bag.image.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfvzvxjua/image/upload/v1606186067/<%=bag.image.key %>)">
    <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <% end %>
      <%= bag.name%>:<br>  <%= bag.brand%>  
    </div>
    </a>
  <% end%>
</div>
