.index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.index-container p {
    font-family: Josefin Sans;
}
.container-dashboard {
  display: flex;

}
