.index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.index-container p {
    font-family: Josefin Sans;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
}

.user-info {
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 2px 2px 3px 1px #c3beb7;
  background-color: #fffcf8;
}
.user-info p {
  margin-bottom: 2px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: lighter;
  font-size: 15px;
}
.dashboard {
  font-family: 'Libre Baskerville', serif;
}
.for-flex {
  display:flex;
  justify-content: space-between;
}
.for-grid-bag {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  border-radius: 4px;
  padding: 10px 0 10px 10px;
  font-size: 20px;
  margin-bottom: 10px;
  box-shadow: 4px 2px 15px -5px #c3b9a9;
}
.for-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.new-booking {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
}
.grid-for-sign-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.dashboard_container {
  box-shadow: 2px 2px 3px 1px #c3beb7;
  border-radius: 4px;
  padding: 10px;
  background-color: #fffcf8;
}
.dashboard_container h4 {
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 30px;
}


.multiple-bags-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-template-rows: repeat(3, 300px);
  row-gap: 15px;
  column-gap: 15px;
  
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  overflow: hidden;
}

.bag_image {
  max-width: 100%; 
  height: auto;
  background-size: cover;
  object-fit: contain;
  overflow: hidden;
}